{
  "presets": ["env", "react"],
  "plugins": [
  	    "transform-object-rest-spread",
	    ["import", [{ "libraryName": "antd", "style": true }]],
        "transform-decorators-legacy",
        "transform-class-properties",
        "lodash",
        "syntax-dynamic-import",
		["module-resolver", {
			"root": ["./src"],
			"alias": {
				"actionTypes": "./src/store/reducer/actionTypes",
				"api": "./src/constants/api",
				 "^@(.+)": "./src/components/\\1",
			}
		}]
    ],
}