{
  "parser": "babel-eslint",
  "extends": ["react-app", "eslint:recommended", "plugin:react/recommended"],
   "rules":{
        "no-console": 0,
        "react/prop-types": 1,
        "react/sort-comp": 1,
        "no-unused-vars": 1,
        "no-constant-condition": 0,
    }
}