// Background color for `<body>`
@body-background : #111116;
// Base background color for most components
@component-background : #111116;
@font-family : "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
@code-family : Consolas, Menlo, Courier, monospace;
@heading-color : fade(#fff, 85%);
@text-color : fade(#fff, 65%);
@text-color-secondary : fade(#fff, 43%);
@heading-color-dark : fade(#000, 97%);
@text-color-dark : fade(#000, 91%);
@text-color-secondary-dark: fade(#000, 67%);
@font-size-base : 14px;
@font-size-lg : @font-size-base + 2px;
@line-height-base : 1.5;
@border-radius-base : 4px;
@border-radius-sm : 2px;

// Buttons
@btn-default-color : #000;
@btn-default-bg : #fff;
@btn-default-border : @border-color-base;
