.account-card {
    background-color: transparent;
    transition: all 500ms ease-in;
    padding: 3vh 1vw;
    opacity: 0.8;
    color: #7c8fad;
}

.account-card:hover {
    background-color: #10151E;
    opacity: 1;
}

.account-avatar {
    background-color: rgba(12, 14, 94, 0.4);
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-in;
}

.account-avatar:hover {
    box-shadow: 0 0 10px rgba(75, 132, 244, 0.3);
    cursor: pointer;
    cursor: hand;
}

.account-margin-top {
    margin-top: 10px;
}

.account-card h2 {
    color: rgba(200, 233, 255, 0.9);
}

.action-button {
    color: rgba(200, 233, 255, 0.7);
    font-size: 25px;
    transition: all 500ms ease-in;
    border-bottom: 2px solid rgba(125, 125, 255, 0.2);
}

.action-button p {
    margin-top: 10px;
    font-size: 15px;
}

.account-card:hover.action-button {
    color: rgba(200, 233, 255, 0.9);
    cursor: pointer;
    cursor: hand;
}

.action-button:nth-child(odd) {
    border-right: 2px solid rgba(125, 125, 255, 0.2);
}

.rightBorder {
    border-right: 2px solid rgba(125, 125, 255, 0.2);
}

.account-card:hover.account-logout {
    background-color: transparent;
}

.account-logout {
    opacity: 0.5;
    transition: all 500ms ease-in;
}

.account-logout:hover {
    opacity: 0.7;
}

.editor-field {
    transition: all 500ms ease-in;
    background-color: #111116;
}

.editor-field:focus, .hasFocus, .editor-field:hover {
    background-color: #10151E;
    opacity: 1;
}

.post-editor input {
    border-width: 0;
    background-color: #111116;
    width: 100%;
    padding: 2vh 1vw;
    height: 8vh;
    font-size: x-large;
    color: rgba(200, 233, 255, 0.6);
    text-align: center;
    letter-spacing: 5px;
}

.post-editor input:hover {
    color: rgba(200, 233, 255, 0.9);
}

.post-editor input::placeholder {
    color: rgba(200, 233, 255, 0.1);
    letter-spacing: 10px;
}

.post-editor input:focus {
    outline: none;
}

.word-count-footer {
    position: fixed;
    color: rgba(72, 107, 175, 0.8);
    bottom: 1vh;
    left: 1vw;
    letter-spacing: 1px;
    transition: all 350ms ease-in;
}

.toolbar-container {
    display: flex;
    justify-content: center;
    height: 6vh;
    color: rgba(172, 172, 174, 0.5);
    transition: all 500ms ease-in;
    border-bottom: 2px solid rgba(125, 125, 255, 0.2);
}

.toolbar-container:hover {
    color: rgba(172, 172, 174, 0.7);
}

.toolbar-button {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-in;
    font-size: 4vh;
    width: 6vh;
    height: 6vh;
}

.toolbar-button:hover {
    background-color: rgba(12, 96, 170, 0.25);
    color: rgba(172, 172, 174, 1);
    cursor: pointer;
    cursor: hand;
}

.toolbar-button:not(:last-child) {
    border-right: 1px solid rgba(125, 125, 255, 0.2);
}

.toolbar-button.active {
    background-color: rgba(12, 96, 170, 0.25);
    color: rgba(180, 180, 192, 1);
}

.DraftEditor-editorContainer {
    padding: 3vh 2vw;
    min-height: 50vh;
    font-size: larger;
}

.affix-container {
    height: 14.1vh;
}

blockquote {
    padding-left: 10px;
    border-left: 3px solid rgba(94, 100, 120, 1);
    opacity: 0.7;
}

pre {
    background-color: rgba(17, 17, 22, 0.7);
    border: 1px solid rgba(12, 96, 170, 0.25);
    padding: 5px 10px;
}
