.account-card {
    background-color: transparent;
    transition: all 500ms ease-in;
    padding: 3vh 1vw;
    opacity: 0.8;
    color: #7c8fad;
}

.account-card:hover {
    background-color: #10151E;
    opacity: 1;
}

.account-avatar {
    background-color: rgba(12, 14, 94, 0.4);
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-in;
    overflow: hidden;
}

.avatar-img-in-setting-page {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    opacity: 0.8;
}

.account-avatar:hover {
    box-shadow: 0 0 10px rgba(75, 132, 244, 0.3);
    cursor: pointer;
    overflow: hidden;
    cursor: hand;
}

.account-margin-top {
    margin-top: 10px;
}

.account-card h2 {
    color: rgba(200, 233, 255, 0.9);
}

.action-button {
    color: rgba(200, 233, 255, 0.7);
    font-size: 25px;
    transition: all 500ms ease-in;
    border-bottom: 2px solid rgba(125, 125, 255, 0.2);
}

.action-button p {
    margin-top: 10px;
    font-size: 15px;
}

.account-card:hover.action-button {
    color: rgba(200, 233, 255, 0.9);
    cursor: pointer;
    cursor: hand;
}

.action-button:nth-child(odd) {
    border-right: 2px solid rgba(125, 125, 255, 0.2);
}

.rightBorder {
    border-right: 2px solid rgba(125, 125, 255, 0.2);
}

.account-card:hover.account-logout {
    background-color: transparent;
}

.account-logout {
    opacity: 0.5;
    transition: all 500ms ease-in;
}

.account-logout:hover {
    opacity: 0.7;
}

.editor-field {
    transition: all 500ms ease-in;
    background-color: #111116;
}

.editor-field:focus, .hasFocus, .editor-field:hover {
    background-color: #10151E;
    opacity: 1;
}

.post-editor input {
    border-width: 0;
    color: rgba(200, 233, 255, 0.6);
}

.editor-field.editor-title {
    font-size: x-large;
    padding: 2vh 1vw;
    width: 100%;
    height: 8vh;
    text-align: center;
    letter-spacing: 5px;
}

.post-editor input:hover {
    color: rgba(200, 233, 255, 0.9);
}

.post-editor input::placeholder {
}

.editor-field.editor-title::placeholder {
    color: rgba(200, 233, 255, 0.1);
    letter-spacing: 10px;
}

.post-editor input:focus {
    outline: none;
}

.word-count-footer {
    position: fixed;
    color: rgba(72, 107, 175, 0.8);
    bottom: 1vh;
    left: 1vw;
    letter-spacing: 1px;
    transition: all 350ms ease-in;
}

.toolbar-container {
    display: flex;
    justify-content: center;
    height: 6vh;
    color: rgba(172, 172, 174, 0.5);
    transition: all 500ms ease-in;
    border-bottom: 2px solid rgba(125, 125, 255, 0.2);
}

.toolbar-container:hover {
    color: rgba(172, 172, 174, 0.7);
}

.toolbar-button {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease-in;
    font-size: 4vh;
    width: 6vh;
    height: 6vh;
}

.toolbar-button:hover {
    background-color: rgba(12, 96, 170, 0.25);
    color: rgba(172, 172, 174, 1);
    cursor: pointer;
    cursor: hand;
}

.toolbar-button:not(:last-child) {
    border-right: 1px solid rgba(125, 125, 255, 0.2);
}

.toolbar-button.active {
    background-color: rgba(12, 96, 170, 0.25);
    color: rgba(180, 180, 192, 1);
}

.DraftEditor-editorContainer {
    padding: 3vh 2vw;
    min-height: 70vh;
    font-size: larger;
}

.affix-container {
    height: 14.1vh;
}

blockquote {
    padding-left: 10px;
    border-left: 3px solid rgba(94, 100, 120, 1);
    opacity: 0.7;
}

pre {
    background-color: rgba(17, 17, 22, 0.7);
    border: 1px solid rgba(12, 96, 170, 0.25);
    padding: 5px 10px;
}

.vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-center-modal .ant-modal-footer {
    border-color: transparent;
}

.ant-modal-content {
    opacity: 0.9;
    background-color: rgba(19, 40, 79, 0.9);
}

.ant-modal-mask {
    background-color: rgba(17, 17, 22, 0.65);
}

.avatar-dragger {
    width: 150px;
    height: 150px;
    display: block;
    transition: all 300ms ease-in;
    margin-bottom: 10px;
    overflow: hidden;
}

.avatar-dragger:hover {
    cursor: pointer;
    cursor: hand;
    background-color: rgba(12, 96, 170, 0.25);
}

.avatar-dragger-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.upload-icon {
    font-size: 50px;
    color: #4192cc;
}

.upload-icon-text {
    margin-top: 15px;
    font-size: 18px;
}

.avatar-img {
    width: 148px;
    height: 148px;
    border-radius: 5px;
    opacity: 0.8;
    transition: opacity 300ms ease-in;
}

.avatar-img:hover {
    opacity: 1;
}

.toolbar-wrapper {
    background-color: #111116;
}

.save-as-draft {
    margin-left: 10px;
}

.advanced-settings {
    margin: 5vh 0;
    opacity: 0.8;
}

.advanced-settings-entry {
    margin-bottom: 1vh;
}

.post-link {
    color: #729fc9;
}

.post-link .editor-field {
    color: rgb(124, 190, 255);
    width: 25vw;
}

.ant-select-dropdown-menu-item.ant-select-dropdown-menu-item-active {
    background-color: rgba(12, 96, 170, 0.25);
}

.ant-select-dropdown-menu-item.ant-select-dropdown-menu-item-active:hover {
    background-color: rgba(12, 96, 170, 0.25);
}

.ant-select-dropdown-menu-item-selected.ant-select-dropdown-menu-item {
    background-color: rgba(12, 96, 170, 0.35);
}

.ant-select-selection--multiple .ant-select-selection__rendered .ant-select-selection__choice {
    border-color: #3862a5;
    background-color: rgba(12, 96, 170, 0.35);
    color: #8cbae2;
}

.editor-field.editor-tags {
    width: 80%;
}

.editor-field.editor-tags.editor-category {
    width: 150px;
}

.editor-field.editor-tags .ant-select-selection {
    transition: background-color 300ms ease-in;
    border-width: 0px;
}

.editor-field.editor-tags .ant-select-selection:hover {
    background-color: #10151E;
}

.editor-field.editor-excerpt {
    width: 80%;
}

.changing-name-input {
    width: 20vw;
    font-weight: bold;
    font-size: 20px;
    color: rgba(200, 233, 255, 0.9);
}
