{% extends "bootstrap/base.html" %}

{% block title %}测试测试{% endblock %}
{% block head %}
{{ super() }}
<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="https://www.thehorizon.blue/favicon.ico">
<!-- 32x32 -->
<link rel="shortcut icon" href="https://www.thehorizon.blue/favicon.png">
{% endblock%}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">测试测试</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang("zh-cn") }}
{% include 'analytics.html' %}
{% endblock %}