.typed-cursor {
  opacity: 1;
  animation: typedjs-blink 0.7s infinite;
  -webkit-animation: typedjs-blink 0.7s infinite;
  animation: typedjs-blink 0.7s infinite;
}
@keyframes typedjs-blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes typedjs-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}

.fadeTranslate-enter {
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  transform: translate(0, -3vh);
  left: 0;
  right: 0;
  top: 0;
}

.fadeTranslate-enter.fadeTranslate-enter-active {
  opacity: 1;
  position: relative;
  transform: translate(0, 0);
  transition: opacity 350ms ease-in, transform 350ms ease-in-out;
  transition-delay: 350ms;
}

.fadeTranslate-exit {
  opacity: 1;
  position: relative;
  transform: translate(0, 0);
}

.fadeTranslate-exit.fadeTranslate-exit-active {
  opacity: 0;
  position: absolute;
  margin-left: auto;
  transition-delay: 350ms;
  margin-right: auto;
  left: 0;
  top: 0;
  right: 0;
  transform: translate(0, 3vh);
  transition: opacity 350ms ease-in, transform 350ms ease-in-out;
}

.footer {
  color: rgba(72, 107, 175, 0.8);
  height: 20vh;
  padding-right: 1vw;
  padding-bottom: 1vh;
}

.footer.fixed {
  position: fixed;
  color: rgba(72, 107, 175, 0.8);
  bottom: 0;
  right: 0;
  transition: all 350ms ease-in;
}

a {
  color: rgba(72, 107, 175, 0.8);
}

.separator {
  margin: 0 5px;
  color: rgba(72, 107, 175, 0.6);
}
