.typed-cursor {
  opacity: 1;
  animation: typedjs-blink 0.7s infinite;
  -webkit-animation: typedjs-blink 0.7s infinite;
  animation: typedjs-blink 0.7s infinite;
}
@keyframes typedjs-blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes typedjs-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}

.login-enter {
  opacity: 0.01;
}

.login-enter.login-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.login-leave {
  opacity: 1;
}

.login-leave.login-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
