.post-container {
    padding: 3vh 1vw;
    color: rgba(200, 233, 255, 0.9);
    transition: background-color 500ms ease-in, color 500ms ease-in;
}

.post-container:hover {
    background-color: rgba(12, 96, 170, 0.1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    cursor: hand;
}

.post-excerpt {
    color: #7c8fad;
    padding: 1vh 0;
    transition: color 500ms ease-in;
}

.post-container:hover .post-excerpt {
    color: #9db5db;
}

.post-meta {
    color: #6587bf;
    transition: color 500ms ease-in;
}

.post-container:hover .post-meta {
    color: #96bbf7;
}

.post-tag {
    border-color: #3862a5;
    margin-bottom: 5px;
    color: #8cbae2;
}

.post-title div {
    margin: 1vh 0 3vh 0;
}

.post-title span {
    margin: 0 1vw;
    color: rgba(105, 117, 145, 0.8);
}

:not(pre) > code {
    background-color: rgba(17, 17, 22, 0.7);
    border: 1px solid rgba(12, 96, 170, 0.25);
    padding: 5px 3px;
    margin: 0px 3px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.9);
    word-break: break-all;
}

pre {
    overflow: scroll;
}

.post-article-content {
    font-size: 110%;
    margin-bottom: 3vh;
}

.post-article-content p {
    margin: 3px 0;
}

//
.post-article-content p {
    text-indent: 20px;
}

.post-article-content a {
    color: rgb(81, 119, 163);
    transition: color 300ms ease-in;
}

.post-article-content a:hover {
    color: rgb(80, 142, 233);
}
