/* Global Styles */

body {
    margin: 0;
    padding: 0;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.absolute-center {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.fadeInOut-enter {
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
}

.fadeInOut-enter.fadeInOut-enter-active {
    opacity: 1;
    position: relative;
    transition: opacity 500ms ease-in;
}

.fadeInOut-exit {
    opacity: 1;
    position: relative;
}

.fadeInOut-exit.fadeInOut-exit-active {
    opacity: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    top: 0;
    right: 0;
    transition: opacity 500ms ease-in;
}

.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

hr {
    border-color: #272745;
}

