/* Global Styles */

body {
    margin: 0;
    padding: 0;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.absolute-center {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
