/* Global Styles */

body {
    margin: 0;
    padding: 0;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.absolute-center {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.fadeInOut-enter {
    opacity: 0.01;
}

.fadeInOut-enter.fadeInOut-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fadeInOut-leave {
    opacity: 1;
}

.fadeInOut-leave.fadeInOut-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}
